.container {
  width: 700px;
  padding: 30px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}
/* Responsive design */
@media (min-width: 375px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 30px;
    border-radius: 15px;
  }
}
