@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  margin: 100px 0;
}
/* Responsive design */
@media (min-width: 375px) {
  body {
    margin: 0;
  }
}
@media (min-width: 768px) {
  body {
    margin: 100px 0;
  }
}
